body {
  margin: 0 auto;
  letter-spacing: 0.9px;
  max-width: 1920px;
  font-family: 'Open Sans';
}

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 640px) {

  .main-header {
    padding-bottom: 84px;
    padding-top: 33px;
  }

  .main-logo {
    width: 137px;
  }

  h1 {
    font-size: 28px;
  }

  .main-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 136px;
    margin-bottom: 89px;
    width: 258px;
  }

  .header-title2 {
    margin-right: 0;
    margin-left: auto;
    margin-top: 15px;
    width: 215px;
    line-height: 33px;
  }

  .app-link-and-logo {
    width: 280px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .app-link-and-logo:last-child {
    margin-top: 14px;
  }

  .app-link {
    font-size: 8px;
    width: 92px;
  }

  .logo-link {
    width: 22px;
    height: 27px;
    margin-right: 7px;
  }

  .first-article-title-img {
    background-image: url("img/footballer_192.png");
    height: 281px;
    width: 192px;
    margin-left: calc(50% - 96px);
  }

  .article-title {
    font-size: 50px;
    width: 280px;
    margin: 0 auto;
  }

  .event {
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .first-event {
    background-color: #fafafa;
    margin-top: 244px;
    padding: 83px 0 51px;
  }

  .event-number {
    font-size: 14px;
    margin: 0 5px 0 0;
  }

  .event-number::after {
    top: 20px;
    left: 0;
    width: 16px;
    height: 4px;
    right: 0;
  }

  .event-title {
    font-size: 23px;
    line-height: 27px;
  }

  .second-event {
    padding: 59px 0 55px;
  }

  .third-event {
    padding: 59px 0 55px;
  }

  .title-description {
    font-size: 15px;
    margin-top: 27px;
  }

  .second-article-title-img {
    background-image: url("img/basketballer_302.png");
    height: 248px;
    width: 302px;
    margin-left: calc(50% - 151px);
  }

  .second-article-img {
    min-height: 351px;
  }

  .second-article-info {
    padding: 0 20px;
  }

  .info-name {
    font-size: 28px;
    margin: 33px 0 0 0;
  }

  .second-article-number {
    margin-top: -92px;
    width: 70px;
    height: 70px;
  }

  .article-number {
    font-size: 14px;
    margin-top: 20px;
  }

  .article-number:after {
    width: 16px;
    height: 4px;
  }

  .info-description {
    font-size: 16px;
    margin-top: 22px;
    margin-bottom: 76px;
  }

  .footer-block {
    padding-bottom: 10px;
    padding-top: 99px;
  }

  .footer-logo-block {
    width: 72px;
    height: 74px;
    margin: 0 auto;
  }

  .footer-logo {
    height: 50px;
  }

  .footer-title-and-slogan {
    width: 280px;
    margin: 58px auto 74px;
  }

  .footer-title {
    font-size: 32px;
  }

  .footer-slogan{
    font-size: 14px;
    margin: 0 auto;
  }

  .footer-app-links {
    margin-bottom: 80px;
  }

}

@media (min-width: 641px) and (max-width: 960px) {

  .main-header {
    padding-bottom: 96px;
    padding-top: 38px;
  }

  .main-logo {
    width: 208px;
  }

  h1 {
    font-size: 64px;
    line-height: 80px;
  }

  .main-title {
    margin: 176px auto 308px;
    width: 604px;
  }

  .header-title2 {
    margin-right: auto;
    margin-left: 107px;
    min-width: 497px;
  }

  .app-links {
    display: flex;
    width: 652px;
    margin: auto;
    justify-content: space-between;
  }

  .app-link-and-logo {
    width: 311px;
    height: 78px;
  }

  .app-link {
    font-size: 14px;
  }

  .logo-link {
    width: 38px;
    height: 48px;
    margin-right: 25px;
  }

  .link-text {
    width: 160px;
  }

  .first-article {
    position: relative;
  }

  .article-title {
    font-size: 80px;
  }

  .first-article-title {
    width: 442px;
    margin: 70px 32px 0 auto;
  }

  .first-article-title-img {
    background-image: url("img/footballer_497.png");
    width: 497px;
    height: 699px;
    top: 35px;
    right: 435px;
  }

  .events {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .first-article:nth-child(odd) .event {
    width: 442px;
    margin-right: 32px;
    margin-left: auto;
  }

  .first-article:nth-child(even) .event {
    width: 430px;
    margin-right: auto;
    margin-left: 32px;
  }

  .event-number {
    font-size: 18px;
    margin: 0 8px 0 0;
  }

  .first-article:nth-child(odd) .third-event .event-number {
    color: #0a0e34;
  }

  .event-number::after {
    top: 26px;
    left: 0;
    width: 20px;
    height: 5px;
    right: 0;
  }

  .event-title {
    font-size: 32px;
    line-height: 35px;
  }

  .title-description {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 25px;
  }

  .second-article-title {
    padding: 0 32px;
    margin: 70px auto 0 32px;
  }

  .second-article-title-img {
    background-image: url("img/basketballer_436.png");
    height: 565px;
    width: 436px;
    right: 0;
    top: 0;
  }

  .second-article-img {
    min-height: 351px;
  }

  .second-article-info {
    padding: 0 20px;
  }

  .info-name {
    font-size: 80px;
    margin: 70px 0 0 0;
  }

  .second-article-number {
    top: -160px;
    width: 116px;
    height: 116px;
  }

  .article-number {
    font-size: 24px;
    margin-top: 32px;
  }

  .article-number:after {
    width: 27px;
    height: 5px;
    top: 35px;
  }

  .info-description {
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 100px;
  }

  .footer-block {
    padding-bottom: 23px;
    padding-top: 126px;
  }

  .footer-logo-block {
    width: 130px;
    height: 136px;
    margin: 0 auto;
  }

  .footer-logo {
    height: 86px;
  }

  .footer-title-and-slogan {
    width: 703px;
    margin: 71px auto 278px;
  }

  .footer-title {
    font-size: 80px;
  }

  .footer-slogan{
    font-size: 36px;
    margin: 0 auto;
  }

  .footer-app-links {
    margin-bottom: 55px;
  }

}

@media (max-width: 767px) {

  .main-header {
    background-image: url("img/football_767.jpg");
  }

  .footer-block {
    background-image: url("img/game_767.jpg");
  }

}

@media (min-width: 768px) and (max-width: 1280px) {

  .main-header {
    background-image: url("img/football_1280.jpg");
  }

  .footer-block {
    background-image: url("img/game_1280.jpg");
  }

}

@media (min-width: 961px) and (max-width: 1024px) {

  h1 {
    font-size: 64px;
    line-height: 80px;
  }

  .main-title {
    margin: 176px auto 308px;
    width: 604px;
  }

  .header-title2 {
    margin-right: auto;
    margin-left: 107px;
    min-width: 497px;
  }

  .second-article-info {
    padding: 0 40px;
  }

  .info-name {
    font-size: 80px;
    margin: 70px 0 0 0;
  }

  .second-article-number {
    top: -160px;
    width: 116px;
    height: 116px;
  }

  .info-description {
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 100px;
  }

  .footer-block {
    padding-bottom: 23px;
    padding-top: 126px;
  }

  .footer-logo-block {
    width: 130px;
    height: 136px;
    margin: 0 auto;
  }

  .footer-title-and-slogan {
    width: 703px;
    margin: 71px auto 278px;
  }

  .footer-slogan{
    font-size: 36px;
    margin: 0 auto;
  }

  .footer-app-links {
    margin-bottom: 55px;
  }

}

@media (min-width: 1025px) and (max-width: 1440px) {

  h1 {
    font-size: 75px;
    line-height: 80px;
  }

  .main-title {
    margin: 176px 30px 308px;
  }

  .header-title2 {
    text-align: right;
  }

  .second-article {
    display: flex;
  }

  .second-article-preview {
    width: 50%;
  }

  .second-article-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }

  .name-and-description {
    padding: 0 70px;
  }

  .second-article:nth-child(even) .second-article-preview {
    order: 1;
  }

  .info-name {
    font-size: 65px;
    margin: 0;
  }

  .second-article-number {
    top: 140px;
    width: 116px;
    height: 116px;
  }

  .second-article:nth-child(even) .second-article-number {
    right: -58px;
  }

  .second-article:nth-child(odd) .second-article-number {
    left: -58px;
  }

  .info-description {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 0;
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {

 .footer-block {
    padding-bottom: 23px;
    padding-top: 126px;
  }

  .footer-logo-block {
    width: 130px;
    height: 136px;
    margin: 0 auto;
  }

  .footer-title-and-slogan {
    width: 703px;
    margin: 71px auto 278px;
  }

  .footer-slogan{
    font-size: 36px;
    margin: 0 auto;
  }

  .footer-app-links {
    margin-bottom: 55px;
  }

}



@media (min-width: 961px) and (max-width: 1440px) {

  .main-header {
    padding-bottom: 96px;
    padding-top: 38px;
  }

  .main-logo {
    width: 208px;
  }

  .app-links {
    display: flex;
    width: 652px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .app-link-and-logo {
    width: 311px;
    height: 78px;
  }

  .app-link {
    font-size: 14px;
  }

  .logo-link {
    width: 38px;
    height: 48px;
    margin-right: 25px;
  }

  .link-text {
    width: 160px;
  }

  .first-article {
    position: relative;
  }

  .article-title {
    font-size: 80px;
  }

  .first-article-title {
    margin: 70px 32px 0 500px;
  }

  .first-article-title-img {
    background-image: url("img/footballer_497.png");
    width: 497px;
    height: 699px;
    top: 35px;
    left: 35px;
  }

  .article-number {
    font-size: 24px;
    margin-top: 32px;
  }

  .article-number:after {
    width: 27px;
    height: 5px;
    top: 35px;
  }

  .events {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .first-article:nth-child(odd) .event {
    margin-right: 32px;
    margin-left: 500px;
  }

  .first-article:nth-child(even) .event {
    margin-right: 423px;
    margin-left: 32px;
  }

  .event-number {
    font-size: 18px;
    margin: 0 8px 0 0;
  }

  .first-article:nth-child(odd) .third-event .event-number {
    color: #0a0e34;
  }

  .event-number::after {
    top: 26px;
    left: 0;
    width: 20px;
    height: 5px;
    right: 0;
  }

  .event-title {
    font-size: 32px;
    line-height: 35px;
  }

  .title-description {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 25px;
  }

  .second-article-title {
    width: 430px;
    margin: 70px auto 0 32px;
  }

  .second-article-title-img {
    background-image: url("img/basketballer_991.png");
    height: 565px;
    width: 687px;
    right: 0;
    top: -42px;
  }

  .second-article-img {
    min-height: 351px;
  }

  .footer-logo {
    height: 86px;
  }

  .footer-title {
    font-size: 80px;
    line-height: 80px;
  }

}

@media (min-width: 1281px) {

  .main-header {
    background-image: url("img/football_1920.jpg");
  }

  .footer-block {
    background-image: url("img/game_1920.jpg");
    padding-bottom: 50px;
    padding-top: 229px;
  }

  .footer-logo-and-title {
    display: flex;
    justify-content: center;
    margin-bottom: 151px;

  }

  .footer-logo-block {
    width: 130px;
    height: 136px;
    margin-right: 36px;
  }

  .footer-logo {
    height: 86px;
  }

  .footer-title-and-slogan {
    margin: 0;
  }

  .footer-title {
    font-size: 80px;
    line-height: 80px;
  }

  .footer-slogan{
    font-size: 30px;
    margin: 0;
  }

  .footer-app-links {
    margin-bottom: 261px;
  }


}

@media (min-width: 1441px) and (max-width: 1600px) {

  .second-article-title-img {
    right: 21px;
    top: -100px;
  }

}

@media (min-width: 1441px) { 

  .main-header {
    padding-bottom: 109px;
    padding-top: 44px;
  }

  .main-logo {
    width: 191px;
  }

  h1 {
    font-size: 90px;
  }

  .main-title {
    margin: 282px auto 197px;
    max-width: 1555px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-title2 {
    text-align: right;
  }

  .app-links {
    display: flex;
    width: 672px;
    margin: auto;
    justify-content: space-between;
  }

  .app-link-and-logo {
    width: 311px;
    height: 78px;
  }

  .app-link {
    font-size: 14px;
  }

  .logo-link {
    width: 38px;
    height: 48px;
    margin-right: 25px;
  }

  .link-text {
    width: 160px;
  }

  .first-article {
    position: relative;
  }

  .article-title {
    font-size: 80px;
    width: 50%;
    line-height: 60px;
  }

  .first-article-title {
    margin: 106px 0 40px auto;
    padding-left: 72px;
    padding-right: 195px;
    
  }

  .first-article-title-img {
    background-image: url("img/footballer_566.png");
    width: 566px;
    height: 908px;
    top: -76px;
    right: 50%;
  }

  .events {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .first-article:nth-child(odd) .event {
    box-sizing: border-box;
    width: 50%;
    margin-right: 0;
    margin-left: auto;
    padding-left: 51px;
    padding-right: 195px;
  }

  .first-article:nth-child(even) .event {
    box-sizing: border-box;
    width: 50%;
    margin-right: auto;
    margin-left: 0;
    padding-left: 195px;
  }

  .event-number {
    font-size: 18px;
    margin: 0 8px 0 0;
  }

  .first-article:nth-child(odd) .third-event .event-number {
    color: #0a0d35;
  }

  .event-number::after {
    top: 26px;
    left: 0;
    width: 20px;
    height: 5px;
    right: 0;
  }

  .event-title {
    font-size: 36px;
    line-height: 35px;
  }

  .title-description {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 25px;
  }

  .second-article-title {
    margin: 106px auto 60px 0;
    padding-left: 195px;
  }

  .second-article-title-img {
    background-image: url("img/basketballer_991.png");
    height: 815px;
    width: 991px;
  }

  .second-event {
    padding-bottom: 86px;
  }

  .second-article {
    display: flex;
  }

  .second-article-preview {
    width: 50%;
  }

  .second-article-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }

  .second-article:nth-child(odd) .name-and-description {
    padding-right: 195px;
    padding-left: 128px;
  }

  .second-article:nth-child(even) .name-and-description {
    padding-right: 128px;
    padding-left: 195px;
  }

  .second-article:nth-child(even) .second-article-preview {
    order: 1;
  }

  .second-article-img {
    min-height: 548px;
  }

  .info-name {
    font-size: 80px;
    margin: 0;
  }

  .second-article-number {
    top: 211px;
    width: 168px;
    height: 155px;
  }

  .second-article:nth-child(even) .second-article-number {
    right: -84px;
  }

  .second-article:nth-child(odd) .second-article-number {
    left: -84px;
  }

  .article-number {
    font-size: 24px;
    margin-top: 55px;
  }

  .article-number:after {
    width: 27px;
    height: 5px;
    top: 35px;
  }

  .info-description {
    font-size: 24px;
    margin-top: 90px;
    margin-bottom: 0;
  }

}

@media (min-width: 1600px){

  .second-article-title-img {
    right: 122px;
    top: -87px;
  }

}

.header-and-footer {
  background-color: #090a36;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.header-and-footer::before {
  content: "";
  background-color: #090a36;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.header-container {
  position: relative;
  z-index: 1;
}

.main-logo {
  display: block;
  margin: 0 auto;
  fill: #ffffff;
}

h1 {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

.header-title1 {
  display: block;
  box-sizing: border-box;
}

.header-title2 {
  display: block;
  box-sizing: border-box;
}

.app-link-and-logo {
  background-color: #5e3db3;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  border-radius: 50px;
}

.icon-and-link {
  display: flex;
  align-items: center;
}

.app-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.link-text {
  display: flex;
}

.logo-link {
  fill: #ffffff;
}

.first-part {
  font-weight: 400;;
}

.second-part {
  font-weight: 700;;
}

.article-title {
  box-sizing: border-box;
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e7;
}

.first-article-title-img {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.second-article-title-img {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.second-event {
  background-color: #f5f4f9;
}

.first-article:nth-child(odd)  .third-event {
  background-color: #5e3db3;
}

.first-article:nth-child(even)  .third-event {
  background-color: #090a36;
}

.first-article .third-event .title-description {
  color: #ffffff;
}

.first-article:nth-child(even) .third-event .event-number {
  color: #8760e0;
}

.first-article .third-event .event-number::after {
  background-color: #ffffff;
}

.number-and-title {
  display: flex;
}

.event-number {
  position: relative;
  font-weight: 700;
}

.event-number::after {
  content: "";
  position: absolute;
  background-color: #5e3db3;
  margin: 0;
  display: block;
  border-radius: 50px;
}

.event-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #c1c1c1;
  margin: 0;
}

.title-description {
  font-weight: 400;
}

.second-article-info {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.second-article-img {
  display: block;
  max-width: 100%;
  background-color: #e7e7e7;
}

.second-article-number {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #5e3db3;
}

.info-name {
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e7;
}

.info-description {
  font-weight: 400;
}

.article-number {
  position: relative;
  font-weight: 700;
  color: #ffffff;
}

.article-number:after {
  content: "";
  position: absolute;
  background-color: #8f78ca;
  display: block;
  border-radius: 50px;
}

.footer-logo-block {
  display: flex;
  background: linear-gradient(180deg, #774fda, #50339d);
  border-radius: 20%;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  fill: #ffffff;
}

.footer-title-and-slogan {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: auto;
}

.footer-slogan{
  font-weight: 400;
  color: #9b8dc3;
  text-transform: uppercase;
}