body {
  margin: 0;
}

@media (max-width: 640px) {

  .main-header {
    padding-bottom: 84px;
    padding-top: 33px;
  }

  .main-logo {
    width: 137px;
  }

  h1 {
    font-size: 28px;
  }

  .main-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 136px;
    margin-bottom: 89px;
    width: 258px;
  }

  .header-title2 {
    margin-right: 0;
    margin-left: auto;
    margin-top: 15px;
    width: 215px;
    line-height: 33px;
  }

  .app-link-and-logo {
    width: 280px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .app-link-and-logo:last-child {
    margin-top: 14px;
  }

  .app-link {
    font-size: 8px;
    width: 78px;
  }

  .logo-link {
    width: 22px;
    height: 27px;
    margin-right: 7px;
  }

  .first-article-title-img {
    background-image: url("img/footballer_192.png");
    height: 281px;
    width: 192px;
    margin-left: calc(50% - 96px);
  }

  .article-title {
    font-size: 50px;
    width: 280px;
    margin: 0 auto;
  }

  .event {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .first-event {
    background-color: #fafafa;
    margin-top: 244px;
    padding: 83px 0 51px;
  }

  .event-number {
    font-size: 14px;
    margin: 0 5px 0 0;
  }

  .event-number::after {
    top: 20px;
    left: 0;
    width: 16px;
    height: 4px;
    right: 0;
  }

  .event-title {
    font-size: 23px;
    line-height: 27px;
  }

  .second-event {
    padding: 59px 0 55px;
  }

  .third-event {
    padding: 59px 0 55px;
  }

  .title-description {
    font-size: 15px;
    margin-top: 27px;
  }

  .second-article-title-img {
    background-image: url("img/basketballer_302.png");
    height: 248px;
    width: 302px;
    margin-left: calc(50% - 151px);
  }

}

@media (min-width: 641px) and (max-width: 960px) {

  .main-header {
    padding-bottom: 96px;
    padding-top: 38px;
  }

  .main-logo {
    width: 208px;
  }

  h1 {
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 2px;
  }

  .main-title {
    margin: 176px auto 308px;
    width: 604px;
  }

  .header-title2 {
    margin-right: auto;
    margin-left: 107px;
    min-width: 497px;
  }

  .app-links {
    display: flex;
    width: 652px;
    margin: auto;
    justify-content: space-between;
  }

  .app-link-and-logo {
    width: 311px;
    height: 78px;
  }

  .app-link {
    font-size: 14px;
  }

  .logo-link {
    width: 38px;
    height: 48px;
    margin-right: 25px;
  }

  .link-text {
    width: 160px;
  }

  .first-article {
    position: relative;
  }

  .article-title {
    font-size: 80px;
  }

  .first-article-title {
    width: 442px;
    margin: 70px 32px 0 auto;
  }

  .first-article-title-img {
    background-image: url("img/footballer_497.png");
    width: 497px;
    height: 699px;
    top: 35px;
    right: 435px;
  }

  .events {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .first-article:nth-child(odd) .event {
    width: 442px;
    margin-right: 32px;
    margin-left: auto;
  }

  .first-article:nth-child(even) .event {
    width: 430px;
    margin-right: auto;
    margin-left: 32px;
  }

  .event-number {
    font-size: 18px;
    margin: 0 8px 0 0;
  }

  .event-number::after {
    top: 26px;
    left: 0;
    width: 20px;
    height: 5px;
    right: 0;
  }

  .event-title {
    font-size: 32px;
    line-height: 35px;
  }

  .title-description {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 25px;
  }

  .second-article-title {
    width: 430px;
    margin: 70px auto 0 32px;
  }

  .second-article-title-img {
    background-image: url("img/basketballer_436.png");
    height: 565px;
    width: 436px;
    right: 0;
    top: 0;
  }

}

.main-header {
  background-image: url("img/football_767.jpg");
  background-color: #090a36;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.for-transparency::before {
  content: "";
  background-color: #090a36;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.header-container {
  position: relative;
  z-index: 1;
}

.main-logo {
  display: block;
  margin: 0 auto;
  fill: #ffffff;
}

h1 {
  display: block;
  text-transform: uppercase;
  font-family: 'Open Sans Bold';
  color: #ffffff;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url(fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

.header-title1 {
  display: block;
  box-sizing: border-box;
}

.header-title2 {
  display: block;
  box-sizing: border-box;
}

.app-link-and-logo {
  background-color: #5e3db3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.app-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.link-text {
  display: flex;
}

.logo-link {
  fill: #ffffff;
}

.first-part {
  font-family: 'Open Sans Regular';
}

.second-part {
  font-family: 'Open Sans Bold';
}

.article-title {
  box-sizing: border-box;
  font-family: 'Open Sans Bold';
  text-transform: uppercase;
  color: #e7e7e7;
}

.first-article-title-img {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.second-article-title-img {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.second-event {
  background-color: #f5f4f9;
}

.first-article:nth-child(odd)  .third-event {
  background-color: #5e3db3;
}

.first-article:nth-child(even)  .third-event {
  background-color: #090a36;
}

.first-article .third-event .title-description {
  color: #ffffff;
}

.first-article:nth-child(2) .third-event .event-number {
  color: #8760e0;
}

.first-article .third-event .event-number::after {
  background-color: #ffffff;
}

.number-and-title {
  display: flex;
}

.event-number {
  position: relative;
  font-family: 'Open Sans Bold';
}

.event-number::after {
  content: "";
  position: absolute;
  background-color: #5e3db3;
  margin: 0;
  display: block;
  border-radius: 50px;
}

.event-title {
  font-family: 'Open Sans Bold';
  text-transform: uppercase;
  color: #c1c1c1;
  margin: 0;
}

.title-description {
  font-family: 'Open Sans Regular';
}

.second-article-info {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.second-article-img {
  display: block;
  max-width: 100%;
}

.second-article-number {
  position: absolute;
}

.info-name {
  font-family: 'Open Sans Bold';
  text-transform: uppercase;
  font-size: 28px;
  color: #e7e7e7;
  margin: 33px 0 0 0;
}

.info-description {
  font-family: 'Open Sans Regular';
  font-size: 16px;
  margin-top: 22px;
  margin-bottom: 76px;
}

.second-article-number {
  margin-top: -92px;
  display: block;
  width: 70px;
  height: 70px;
  background-color: #5e3db3;
}

.article-number {
  display: block;
  font-family: 'Open Sans Bold';
  font-size: 14px;
  color: #ffffff;
  margin-left: 27px;
  margin-top: 22px;
}

.article-number:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 4px;
  background-color: #8f78ca;
  display: block;
  border-radius: 50px;
}

.footer-block {
  background-image: url("img/game_767.jpg");
  background-color: #090a36;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding-bottom: 10px;
  padding-top: 99px;
}

.footer-logo-block {
  position: relative;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 72px;
  height: 74px;
  background-color: #7252cf;
  border-radius: 20%;
}

.footer-logo {
  position: absolute;
  display: block;
  fill: #ffffff;
  width: 60px;
  height: 50px;
  margin: 12px 6px;
}

.footer-title-adn-slogan {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 58px auto 74px;
}

.footer-title {
  display: inline;
  font-family: 'Open Sans Bold';
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: justify;
  margin: auto;
}

.footer-slogan{
  font-family: 'Open Sans Regular';
  font-size: 14px;
  color: #9b8dc3;
  text-transform: uppercase;
  margin: 0 auto;
  
}

.footer-app-links {
  margin-bottom: 80px;
}