body {
  margin: 0;
}

.main-header {
  background-image: url("img/football_767.jpg");
  background-color: #6d6c69;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding-bottom: 84px;
  padding-top: 33px;
}

.main-header::before {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.header-container {
  position: relative;
  z-index: 1;
}

.main-logo {
  display: block;
  margin: 0 auto;
  fill: #ffffff;
  width: 137px;
}

.main-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 89px;
  width: 258px;
}

h1 {
  display: block;
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Open Sans Bold';
  color: #ffffff;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url(fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

.header-title1 {
  display: block;
  box-sizing: border-box;
  margin-left: 0;
  margin-top: 136px;
  margin-bottom: 0;
  padding: 0;
  line-height: 0;
}

.header-title2 {
  display: block;
  box-sizing: border-box;
  margin-right: 0;
  margin-left: auto;
  width: 215px;
  margin-top: 29px;
  line-height: 33px;
}

.app-link-and-logo {
 background-color: #5e3db3;
 display: flex;
 width: 280px;
 height: 35px;
 margin-left: auto;
 margin-right: auto;
 align-items: center;
 justify-content: center;
 border-radius: 50px;
}

.app-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 8px;
  color: #ffffff;
}

.app-link-and-logo:last-child {
  margin-top: 14px;
}

.link-text {
  display: flex;
  width: 85px;
}

.logo-link {
  width: 22px;
  height: 27px;
  margin-right: 7px;
  fill: #ffffff;
}

.first-part {
  font-family: 'Open Sans Regular';
}

.second-part {
  font-family: 'Open Sans Bold';
}

.article-title {
  box-sizing: border-box;
  font-family: 'Open Sans Bold';
  font-size: 50px;
  text-transform: uppercase;
  width: 280px;
  margin: 0 auto;
  color: #e7e7e7;
}

.first-article-title-img {
  position: absolute;
  background-image: url("img/footballer_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 281px;
  width: 192px;
  margin-left: calc(50% - 96px);
}

.second-article-title-img {
  position: absolute;
  background-image: url("img/basketballer_302.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 248px;
  width: 302px;
  margin-left: calc(50% - 151px);
}

.first-event {
  background-color: #fafafa;
  margin-top: 244px;
  padding: 83px 0 51px;
}

.second-event {
  background-color: #f5f4f9;
  padding: 59px 0 55px;
}

.third-event {
  padding: 59px 0 55px;
}

.first-article:nth-child(odd)  .third-event {
  background-color: #5e3db3;
}

.first-article:nth-child(even)  .third-event {
  background-color: #090a36;
}

.first-article:nth-child(2) .third-event .title-description {
  color: #ffffff;
}

.first-article:nth-child(2) .third-event .event-number {
  color: #8760e0;
}

.first-article .third-event .event-number::after {
  background-color: #ffffff;
}

.event {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.number-and-title {
  display: flex;
}

.event-number {
  position: relative;
  font-family: 'Open Sans Bold';
  font-size: 14px;
  margin: 0 5px 0 0;
}

.event-number::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 16px;
  height: 4px;
  background-color: #5e3db3;
  right: 0;
  margin: 0;
  display: block;
  border-radius: 50px;
}

.event-number3::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 16px;
  height: 4px;
  background-color: #ffffff;
  right: 0;
  margin: 0;
  display: block;
  border-radius: 50px;
}

.event-title {
  font-family: 'Open Sans Bold';
  text-transform: uppercase;
  font-size: 23px;
  color: #c1c1c1;
  margin: 0;
}

.title-description {
  font-family: 'Open Sans Regular';
  font-size: 15px;
  margin-top: 27px;
}

.second-article-info {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.second-article-img {
  display: block;
  max-width: 100%;
}

.second-article-number {
  position: absolute;
}

.info-name {
  font-family: 'Open Sans Bold';
  text-transform: uppercase;
  font-size: 28px;
  color: #e7e7e7;
  margin: 33px 0 0 0;
}

.info-description {
  font-family: 'Open Sans Regular';
  font-size: 16px;
  margin-top: 22px;
  margin-bottom: 76px;
}

.second-article-number {
  margin-top: -92px;
  display: block;
  width: 70px;
  height: 70px;
  background-color: #5e3db3;
}

.article-number {
  display: block;
  font-family: 'Open Sans Bold';
  font-size: 14px;
  color: #ffffff;
  margin-left: 27px;
  margin-top: 22px;
}

.article-number:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 4px;
  background-color: #8f78ca;
  display: block;
  border-radius: 50px;